body {
   font-family:"Microsoft Sans Serif";
    background-color: #e9e9e9;

}


#banner {
    height: 75px;
     width: 1333px;
}
/*nav*/
#navigation {
   
     background-color: #ffffff;
	 
}

td {
    padding: 0;
}
td a {
    text-decoration: none;
}
td a div {
    padding: 4px;
    vertical-align: middle;
}
table tr td div {
    font-size: 11px;
}
table tr td div span {
    background-image: url("http://localhost:2181/Image/Drop_icon.png");
    background-repeat: no-repeat;
    background-position: 4px center;
    padding-left: 0;
    padding-right: 20px;
}

table tr td a :hover  {
    color: red;
} 


table tr td:hover .menuBarGroup {
    display:none; 
}

.td_seperate div {
    border: 1px solid blue;
    height: 15px;
 
}

/*group_drop*/
.menuBarGroup {
    display: none;
    background-color: #EDEDE2;
    position: absolute;
  
    z-index: 100000;
    font-family: Tahoma;
    font-size: 11px;
    
}

.contextItem {
   
    margin: 1px 1px 1px 0;
    display: block;
    color: #039;
    cursor: pointer;
    padding: 4px 19px 4px 32px;
    white-space: nowrap;
    font-weight: normal;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 3px center;
    background-color: white;
}



/*content*/
#content {
    height: 500px;
      width: 1333px;
    background-color: #e9e9e9;
}

/*khocontent*/
#danhmuckho_content {
        font-size: 14px;
    font-family: 'Microsoft Sans Serif';
       height: 500px;
      width: 1333px;
    background-color: #e9e9e9;
}
#dgv_danhmuckho {
    clear: both;
    display: block;
    padding-bottom: 4px;
    padding-top: 5px;
}
/*//Thêm kho*/
#open_kho {

background: white none repeat scroll 0% 0%;
width: 332px;
}
#block_insertkho {
   z-index:10000;
    position: absolute;
    left: 630px;
    top: 147px;
    display: none;
    width: 567px;
}
.danhmuckho_tittle {
    width: 100%;
    background-color: #D1EEEE;
    padding: 3px;
}
.title_themkho {
      width: 500px;
    height: 19px;
    background: #FFFFE0;
}
.content_themkho {
      
   width: 500px;
    height: 50px;
    padding-top: 16px;
    background-color: #ffffff;
}
.content_themkho_item1 {
    float: left;
    margin-left: 7px;
}

.button_themkho {
      width: 500px;
       float: left;
    background-color: #ffffff;
    
}
.button_themkho_item {
    float: left;

}
/*Thêm bộ phân*/
.content_thembophan {
       width: 500px;
    height: 120px;
    padding-top: 16px;
    background-color: #ffffff;
}
.content_thembophan_item1 {
    float: left;
    margin-left: 7px;
}
.content_thembophan_item2{

     float: left;
    margin-top: 10px;
}
/*Thêm khách hàng*/
#block_insertkhachhang{
     z-index:10000;
    position: absolute;
    left: 630px;
    top: 147px;
    display: none;
    width: 594px;

}
.content_themkhachhang{
     width: 594px;
    height: 120px;
    padding-top: 30px;
    background-color: #ffffff;
}
.content_themkhachhang_item1{
     float: left;
    margin-left: 7px;
   

}
.content_themkhachhang_item2{

     float: left;
    margin-top: 10px;
  
   
}
.content_themkhachhang_item3{
    float: left;
    margin-left: 7px;

}

    


#cancel_btn {
        padding: 1px 6px;
        width: 60px;
            align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
        -webkit-appearance: push-button;
    -webkit-user-select: none;
    white-space: pre;
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
    background-color: #e9e9e9;
}
/*footer*/
#footer {
    color: white;   
    width: 1333px;
    height: 80px;
    background-color: black;
}

.footer_copyright {
    margin-left: 45%;
   
}
.footer_mail_icon {
   width: 25px;
    margin-left: 530px;
    float: left;
}
.footer_mail {
    float: left;
    margin-left: 5px;
    margin-top: 4px;
}
.footer_phone_icon {
    width: 25px;
    float: left;
    margin-left: 15px;
   
}
.footer_phone {

    float: left;
    margin-left: 5px;
    margin-top: 4px;
}




